# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS IntelliSense & VS workspace settings
.vs/
# ignore the VS browse database
/3DProject/RasterizerDemo/.vs/RasterizerDemo/v1/Browse.VC.db


# IntelliSense precompiled headers
*.ipch/
*.IPCH/
