# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS IntelliSense & VS workspace settings
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# ignore the VS browse database
/3DProject/RasterizerDemo/.vs/RasterizerDemo/v1/Browse.VC.db


# IntelliSense precompiled headers
*.ipch/
*.IPCH/

# --- Folders to ignore ---
[Bb]in/
[Oo]bj/
x64/Debug/
x64/Release/
# --- Build results ---
# Intermediate object files and logs
*.obj
*.o
*.tlog
*.lastbuildstate
# Logs and command-line outputs
*.log

# --- Linker and compiler outputs ---
*.ilk
*.pdb
*.exe
*.dll

# --- Visual Studio DB files ---
*.idb
*.VC.db

# --- Compiled shader blobs ---
*.cso
